<!-- Start Header Area -->
<header class="rbt-header rbt-header-10" >
    <div class="rbt-sticky-placeholder"></div>
    <!-- Start Header Top  -->
    <div class="rbt-header-top rbt-header-top-1 header-space-betwween bg-not-transparent bg-color-darker top-expended-activation" >
        <div class="container-fluid">
            <div class="top-expended-wrapper">
                <div class="top-expended-inner rbt-header-sec align-items-center ">
                    <div class="rbt-header-sec-col rbt-header-left d-none d-xl-block">
                        <div class="rbt-header-content">
                            <!-- Start Header Information List  -->
                            <div class="header-info">
                                <ul class="rbt-information-list">
                                    <li>
                                        <a href="#"><i class="fab fa-instagram"></i>100k <span class="d-none d-xxl-block">Followers</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-facebook-square"></i>500k <span class="d-none d-xxl-block">Followers</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="feather-phone"></i>+1-202-555-0174</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Header Information List  -->
                        </div>
                    </div>
                    <div class="rbt-header-sec-col rbt-header-center">
                        <div class="rbt-header-content justify-content-start justify-content-xl-center">
                            <div class="header-info">
                                <div class="rbt-header-top-news">
                                    <div class="inner">
                                        <div class="content">
                                            <span class="rbt-badge variation-02 bg-color-primary color-white radius-round">Hot</span>
                                            <span class="news-text"><img src="assets/images/icons/hand-emojji.svg" alt="Hand Emojji Images"> Intro price. Get Histudy for Big Sale -95% off.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rbt-header-sec-col rbt-header-right mt_md--10 mt_sm--10">
                        <div class="rbt-header-content justify-content-start justify-content-lg-end">
                            <div class="header-info d-none d-xl-block">
                                <ul class="social-share-transparent">
                                    <li>
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
  
                            <div class="rbt-separator d-none d-xl-block"></div>
  
                            <div class="header-info">
                                <ul class="rbt-dropdown-menu switcher-language">
                                    <li class="has-child-menu">
                                        <a href="#">
                                            <img class="left-image" src="assets/images/icons/en-us.png" alt="Language Images">
                                            <span class="menu-item">English</span>
                                            <i class="right-icon feather-chevron-down"></i>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">
                                                    <img class="left-image" src="assets/images/icons/fr.png" alt="Language Images">
                                                    <span class="menu-item">Français</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img class="left-image" src="assets/images/icons/de.png" alt="Language Images">
                                                    <span class="menu-item">Deutsch</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
  
                            <div class="header-info">
                                <ul class="rbt-dropdown-menu currency-menu">
                                    <li class="has-child-menu">
                                        <a href="#">
                                            <span class="menu-item">USD</span>
                                            <i class="right-icon feather-chevron-down"></i>
                                        </a>
                                        <ul class="sub-menu hover-reverse">
                                            <li>
                                                <a href="#">
                                                    <span class="menu-item">EUR</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="menu-item">GBP</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-info">
                    <div class="top-bar-expended d-block d-lg-none">
                        <button class="topbar-expend-button rbt-round-btn"><i class="feather-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top  -->
    <div class="rbt-header-wrapper header-space-betwween header-sticky" style="  background: linear-gradient(to right, blue, pink);">
        <div class="container-fluid">
            <div class="mainbar-row rbt-navigation-center align-items-center">
                <div class="header-left rbt-header-content">
                    <div class="header-info">
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/images/logo/logo.png" alt="Education Logo Images">
                            </a>
                        </div>
                    </div>
                    <!-- <div class="header-info">
                        <div class="rbt-category-menu-wrapper">
                            <div class="rbt-category-btn rbt-side-offcanvas-activation">
                                <div class="rbt-offcanvas-trigger md-size icon">
                                    <span class="d-none d-xl-block">
                                <i class="feather-grid"></i>
                            </span>
                                    <i title="Category" class="feather-grid d-block d-xl-none"></i>
                                </div>
                                <span class="category-text d-none d-xl-block">Category</span>
                            </div>
   -->
                            <!-- <div class="category-dropdown-menu d-none d-xl-block">
                                <div class="category-menu-item">
                                    <div class="rbt-vertical-nav">
                                        <ul class="rbt-vertical-nav-list-wrapper vertical-nav-menu">
                                            <li class="vertical-nav-item active">
                                                <a href="#tab1">Course School</a>
                                            </li>
                                            <li class="vertical-nav-item">
                                                <a href="#tab2">Online School</a>
                                            </li>
                                            <li class="vertical-nav-item">
                                                <a href="#tab3">kindergarten</a>
                                            </li>
                                            <li class="vertical-nav-item">
                                                <a href="#tab4">Classic LMS</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="rbt-vertical-nav-content">
                                       
                                        <div class="rbt-vertical-inner tab-content" id="tab1" style="display: block">
                                            <div class="rbt-vertical-single">
                                                <div class="row">
                                                    <div class="col-lg-6 col-sm-6 col-6">
                                                        <div class="vartical-nav-content-menu">
                                                            <h3 class="rbt-short-title">Course Title</h3>
                                                            <ul class="rbt-vertical-nav-list-wrapper">
                                                                <li><a href="#">Web Design</a></li>
                                                                <li><a href="#">Art</a></li>
                                                                <li><a href="#">Figma</a></li>
                                                                <li><a href="#">Adobe</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-sm-6 col-6">
                                                        <div class="vartical-nav-content-menu">
                                                            <h3 class="rbt-short-title">Course Title</h3>
                                                            <ul class="rbt-vertical-nav-list-wrapper">
                                                                <li><a href="#">Photo</a></li>
                                                                <li><a href="#">English</a></li>
                                                                <li><a href="#">Math</a></li>
                                                                <li><a href="#">Read</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                         
                                        <div class="rbt-vertical-inner tab-content" id="tab2">
                                            <div class="rbt-vertical-single">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="vartical-nav-content-menu">
                                                            <h3 class="rbt-short-title">Course Title</h3>
                                                            <ul class="rbt-vertical-nav-list-wrapper">
                                                                <li><a href="#">Photo</a></li>
                                                                <li><a href="#">English</a></li>
                                                                <li><a href="#">Math</a></li>
                                                                <li><a href="#">Read</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="vartical-nav-content-menu">
                                                            <h3 class="rbt-short-title">Course Title</h3>
                                                            <ul class="rbt-vertical-nav-list-wrapper">
                                                                <li><a href="#">Web Design</a></li>
                                                                <li><a href="#">Art</a></li>
                                                                <li><a href="#">Figma</a></li>
                                                                <li><a href="#">Adobe</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class="rbt-vertical-inner tab-content" id="tab3">
                                            <div class="rbt-vertical-single">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="vartical-nav-content-menu">
                                                            <h3 class="rbt-short-title">Course Title</h3>
                                                            <ul class="rbt-vertical-nav-list-wrapper">
                                                                <li><a href="#">Photo</a></li>
                                                                <li><a href="#">English</a></li>
                                                                <li><a href="#">Math</a></li>
                                                            </ul>
                                                            <div class="read-more-btn">
                                                                <a class="rbt-btn-link" href="#">Learn More<i
                                                                class="feather-arrow-right"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class="rbt-vertical-inner tab-content" id="tab4">
                                            <div class="rbt-vertical-single">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="vartical-nav-content-menu">
                                                            <h3 class="rbt-short-title">Course Title</h3>
                                                            <ul class="rbt-vertical-nav-list-wrapper">
                                                                <li><a href="#">Photo</a></li>
                                                                <li><a href="#">English</a></li>
                                                                <li><a href="#">Math</a></li>
                                                                <li><a href="#">Read</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
  
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>-->
                </div>
  
                <div class="rbt-main-navigation d-none d-xl-block">
                    <nav class="mainmenu-nav">
                        <ul class="mainmenu">
                            <li class="with-megamenu has-menu-child-item position-static">
                                <a href="">Home <i  ></i></a>
                               
                            </li>
  
                            <li class="with-megamenu has-menu-child-item">
                                <a href="filtros-de-cursos">Courses  </a>
                                
                            </li>
  
                            <li class="has-dropdown has-menu-child-item" *ngIf="user">
                                <a href="perfil-del-estudiante">Dashboard
                                    
                                </a>
                                
                            </li>
  
                            <li class="with-megamenu has-menu-child-item position-static">
                                <a href="somos">¿Quienes somos?</a>
                                
                            </li>
                            <li class="with-megamenu has-menu-child-item position-static">
                                <a href="team">Instructores</a>
                                
                            </li>
                            
  
                            <li class="with-megamenu has-menu-child-item position-static">
                                <a href="contactos">Contactos  </a>
                                
                            </li>
  
                            <li class="with-megamenu has-menu-child-item position-static" *ngIf=" !user " >
                                <a href="mensualidad">Pagar Menbresia
                                    <!-- <i class="feather-chevron-down"></i> -->
                                </a>
                                <!-- Start Mega Menu  -->
                                <!-- <div class="rbt-megamenu grid-item-3">
                                    <div class="wrapper">
                                        <div class="row row--15">
                                            <div class="col-lg-12 col-xl-4 col-xxl-4 single-mega-item">
                                                <h3 class="rbt-short-title">Blog Styles</h3>
                                                <ul class="mega-menu-item">
                                                    <li><a href="blog-list.html">Blog List</a></li>
                                                    <li><a href="blog.html">Blog Grid</a></li>
                                                    <li><a href="blog-grid-minimal.html">Blog Grid Minimal</a></li>
                                                    <li><a href="blog-with-sidebar.html">Blog With Sidebar</a></li>
                                                    <li><a href="blog-details.html">Blog Details</a></li>
                                                    <li><a href="post-format-standard.html">Post Format Standard</a></li>
                                                    <li><a href="post-format-gallery.html">Post Format Gallery</a></li>
                                                </ul>
                                            </div>
  
                                            <div class="col-lg-12 col-xl-4 col-xxl-4 single-mega-item">
                                                <h3 class="rbt-short-title">Get Started</h3>
                                                <ul class="mega-menu-item">
                                                    <li><a href="post-format-quote.html">Post Format Quote</a></li>
                                                    <li><a href="post-format-audio.html">Post Format Audio</a></li>
                                                    <li><a href="post-format-video.html">Post Format Video</a></li>
                                                    <li><a href="#">Media Under Title <span class="rbt-badge-card">Coming</span></a></li>
                                                    <li><a href="#">Sticky Sidebar <span class="rbt-badge-card">Coming</span></a></li>
                                                    <li><a href="#">Auto Masonry <span class="rbt-badge-card">Coming</span></a></li>
                                                    <li><a href="#">Meta Overlaid <span class="rbt-badge-card">Coming</span></a></li>
                                                </ul>
                                            </div>
  
                                            <div class="col-lg-12 col-xl-4 col-xxl-4 single-mega-item">
                                                <div class="rbt-ads-wrapper">
                                                    <a class="d-block" href="#"><img src="assets/images/service/mobile-cat.jpg" alt="Education Images"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- End Mega Menu  -->
                            </li>
                        </ul>
                    </nav>
                </div>
  
                <div class="header-right">
  
                    <!-- Navbar Icons -->
                    <ul class="quick-access">
                        <li class="access-icon">
                            <a class="search-trigger-active rbt-round-btn" href="#">
                                <i class="feather-search"></i>
                            </a>
                        </li>
  
                        <li class="access-icon rbt-mini-cart">
                            <a class="rbt-cart-sidenav-activation rbt-round-btn" href="#" onclick="return false;">
                                <i class="feather-shopping-cart"></i>
                                <span class="rbt-cart-count">{{ CARTS.length }}</span>
                            </a>
                        </li>
  
                        <li class="account-access rbt-user-wrapper d-none d-xl-block">
                            <a href="/perfil-del-estudiante" *ngIf="user"><i class="feather-user" ></i>{{ user.name + ' ' +(user.surname ? user.surname : '') }}</a>
                            <a href="/auth/login"  *ngIf="!user"><i class="feather-user"></i>Ingresa</a>
                            <div class="rbt-user-menu-list-wrapper" *ngIf="user"  >
                                <div class="inner">
                                    <div class="rbt-admin-profile">
                                        <div class="admin-thumbnail">
                                            <img [src]="user.imagen" alt="User Images">
                                        </div>
                                        <div class="admin-info">
                                            <span class="name">{{user.name}}</span>
                                            <a class="rbt-btn-link color-primary" routerLink="/perfil-del-estudiante">View Profile</a>
                                        </div>
                                    </div>
                                    
                                     
                                    <hr class="mt--10 mb--10">
                                    <ul class="user-list-wrapper">
                                        <li>
                                            <a href="/perfil-del-estudiante">
                                                <i class="feather-settings"></i>
                                                <span>Settings</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" onclick="return false;" (click)="logout()">
                                                <i class="feather-log-out"></i>
                                                <span>Logout</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
  
                        <li class="access-icon rbt-user-wrapper d-block d-xl-none">




                            <a class="rbt-round-btn" href="/auth/login" *ngIf="!user" ><i class="feather-user"></i></a>
                            <a class="rbt-round-btn" href="#" *ngIf="user"><i class="feather-user"></i></a>
                           
                            <div class="rbt-user-menu-list-wrapper"  *ngIf="user"  >
                                <div class="inner">
                                    <div class="rbt-admin-profile">
                                        <div class="admin-thumbnail">
                                            <img [src]="user.imagen" alt="User Images">
                                        </div>
                                        <div class="admin-info">
                                            <span class="name">{{user.name}}</span>
                                            <a class="rbt-btn-link color-primary" href="/perfil-del-estudiante">View Profile</a>
                                        </div>
                                    </div>
                                    
                                    <hr class="mt--10 mb--10">
                                    <ul class="user-list-wrapper">
                                        <li>
                                            <a href="/perfil-del-estudiante">
                                                <i class="feather-settings"></i>
                                                <span>Settings</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" onclick="return false;" (click)="logout()">
                                                <i class="feather-log-out"></i>
                                                <span>Logout</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
  
                    </ul>
  
                    <div class="rbt-btn-wrapper d-none d-xl-block">
                        <a class="rbt-btn rbt-marquee-btn marquee-auto btn-border-gradient radius-round btn-sm hover-transform-none" href="/auth/login">
                            <span data-text="BIENVENIDO" *ngIf="user">BIENVENIDO</span>
                            <span data-text="REGISTRATE" *ngIf="!user">REGISTRATE</span>
                            
                        </a>
                    </div>
  
                    <!-- Start Mobile-Menu-Bar -->
                    <div class="mobile-menu-bar d-block d-xl-none">
                        <div class="hamberger">
                            <button class="hamberger-button rbt-round-btn">
                                <i class="feather-menu"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Start Mobile-Menu-Bar -->
  
                </div>
            </div>
        </div>
        <!-- Start Search Dropdown  -->
        <div class="rbt-search-dropdown">
            <div class="wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="#">
                            <input type="text" [(ngModel)]="search" name="search" #filter placeholder="What are you looking for?">
                            <div class="submit-btn">
                                <a class="rbt-btn btn-gradient btn-md" href="#">Search</a>
                            </div>
                        </form>
                    </div>
                </div>
  
                <div class="rbt-separator-mid">
                    <hr class="rbt-separator m-0">
                </div>
  
                <div class="row g-4 pt--30 pb--60">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h5 class="rbt-title-style-2">Our Top Course</h5>
                        </div>
                    </div>
                    
                    <ng-container *ngFor="let COURSE of listCourses">
                        <!-- Start Single Card  -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="rbt-card variation-01 rbt-hover">
                                <div class="rbt-card-img">
                                    <a [routerLink]="['landing-curso/',COURSE.slug]" >
                                        <img [src]="COURSE.imagen" style="height: 128px !important;" alt="Card image">
                                    </a>
                                </div>
                                <div class="rbt-card-body">
                                    <h5 class="rbt-card-title">
                                        <a [routerLink]="['landing-curso/',COURSE.slug]" >{{ COURSE.title }}</a>
                                    </h5>
                                    <div class="rbt-review">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <span class="rating-count"> (15 Reviews)</span>
                                    </div>
                                    <div class="rbt-card-bottom">
                                        <div class="rbt-price">
                                            <span class="current-price">$ </span>
                                      <span class="off-price" *ngIf="COURSE.discount_g">${{ COURSE.price_usd }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Card  -->
                    </ng-container>
                    
                </div>
  
            </div>
        </div>
        <!-- End Search Dropdown  -->
    </div>
    <!-- Start Side Vav -->
    <div class="rbt-offcanvas-side-menu rbt-category-sidemenu">
        <div class="inner-wrapper">
            <div class="inner-top">
                <div class="inner-title">
                    <h4 class="title">Course Category</h4>
                </div>
                <div class="rbt-btn-close">
                    <button class="rbt-close-offcanvas rbt-round-btn"><i class="feather-x"></i></button>
                </div>
            </div>
            <nav class="side-nav w-100">
                <ul class="rbt-vertical-nav-list-wrapper vertical-nav-menu">
                    <li class="vertical-nav-item">
                        <a href="#">Course School</a>
                        <div class="vartical-nav-content-menu-wrapper">
                            <div class="vartical-nav-content-menu">
                                <h3 class="rbt-short-title">Course Title</h3>
                                <ul class="rbt-vertical-nav-list-wrapper">
                                    <li><a href="#">Web Design</a></li>
                                    <li><a href="#">Art</a></li>
                                    <li><a href="#">Figma</a></li>
                                    <li><a href="#">Adobe</a></li>
                                </ul>
                            </div>
                            <div class="vartical-nav-content-menu">
                                <h3 class="rbt-short-title">Course Title</h3>
                                <ul class="rbt-vertical-nav-list-wrapper">
                                    <li><a href="#">Photo</a></li>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Math</a></li>
                                    <li><a href="#">Read</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="vertical-nav-item">
                        <a href="#">Online School</a>
                        <div class="vartical-nav-content-menu-wrapper">
                            <div class="vartical-nav-content-menu">
                                <h3 class="rbt-short-title">Course Title</h3>
                                <ul class="rbt-vertical-nav-list-wrapper">
                                    <li><a href="#">Photo</a></li>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Math</a></li>
                                    <li><a href="#">Read</a></li>
                                </ul>
                            </div>
                            <div class="vartical-nav-content-menu">
                                <h3 class="rbt-short-title">Course Title</h3>
                                <ul class="rbt-vertical-nav-list-wrapper">
                                    <li><a href="#">Web Design</a></li>
                                    <li><a href="#">Art</a></li>
                                    <li><a href="#">Figma</a></li>
                                    <li><a href="#">Adobe</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="vertical-nav-item">
                        <a href="#">kindergarten</a>
                        <div class="vartical-nav-content-menu-wrapper">
                            <div class="vartical-nav-content-menu">
                                <h3 class="rbt-short-title">Course Title</h3>
                                <ul class="rbt-vertical-nav-list-wrapper">
                                    <li><a href="#">Photo</a></li>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Math</a></li>
                                    <li><a href="#">Read</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="vertical-nav-item">
                        <a href="#">Classic LMS</a>
                        <div class="vartical-nav-content-menu-wrapper">
                            <div class="vartical-nav-content-menu">
                                <h3 class="rbt-short-title">Course Title</h3>
                                <ul class="rbt-vertical-nav-list-wrapper">
                                    <li><a href="#">Web Design</a></li>
                                    <li><a href="#">Art</a></li>
                                    <li><a href="#">Figma</a></li>
                                    <li><a href="#">Adobe</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="read-more-btn">
                    <div class="rbt-btn-wrapper mt--20">
                        <a class="rbt-btn btn-border-gradient radius-round btn-sm hover-transform-none w-100 justify-content-center text-center" href="#">
                            <span>Learn More</span>
                        </a>
                    </div>
                </div>
            </nav>
            <div class="rbt-offcanvas-footer">
  
            </div>
        </div>
    </div>
    <!-- End Side Vav -->
    <a class="rbt-close_side_menu" href="javascript:void(0);"></a>
  </header>
  <!-- Mobile Menu Section -->
  <div class="popup-mobile-menu">
    <div class="inner-wrapper">
        <div class="inner-top">
            <div class="content">
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/images/logo/logo.png" alt="Education Logo Images">
                    </a>
                </div>
                <div class="rbt-btn-close">
                    <button class="close-button rbt-round-btn"><i class="feather-x"></i></button>
                </div>
            </div>
            <p class="description">Histudy is a education website template. You can customize all.</p>
            <ul class="navbar-top-left rbt-information-list justify-content-start">
                <li>
                    <a href="mailto:hello@example.com"><i class="feather-mail"></i>example@gmail.com</a>
                </li>
                <li>
                    <a href="#"><i class="feather-phone"></i>(302) 555-0107</a>
                </li>
            </ul>
        </div>
  
        <nav class="mainmenu-nav">
            <ul class="mainmenu">
                <li class="  position-static">
                    <a href="#">Home <i  ></i></a>
                   
                </li>

                <li class="position-static ">
                    <a href="filtros-de-cursos">Courses  </a>
                    
                </li>

                <li class="position-static" *ngIf="user">
                    <a href="perfil-del-estudiante">Dashboard
                        
                    </a>
                    
                </li>

                <li class="  position-static">
                    <a href="somos">¿Quienes somos?</a>
                    
                </li>
                <li class="  position-static">
                    <a href="team">Instructores</a>
                    
                </li>
                

                <li class="  position-static">
                    <a href="contactos">Contactos  </a>
                    
                </li>
  
                <li class="  position-static">
                    <a href="#">Blog 
                        <!-- <i class="feather-chevron-down"></i> -->
                    </a>
                    <!-- Start Mega Menu  -->
                    <!-- <div class="rbt-megamenu grid-item-3">
                        <div class="wrapper">
                            <div class="row row--15">
                                <div class="col-lg-12 col-xl-4 col-xxl-4 single-mega-item">
                                    <h3 class="rbt-short-title">Blog Styles</h3>
                                    <ul class="mega-menu-item">
                                        <li><a href="blog-list.html">Blog List</a></li>
                                        <li><a href="blog.html">Blog Grid</a></li>
                                        <li><a href="blog-grid-minimal.html">Blog Grid Minimal</a></li>
                                        <li><a href="blog-with-sidebar.html">Blog With Sidebar</a></li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                        <li><a href="post-format-standard.html">Post Format Standard</a></li>
                                        <li><a href="post-format-gallery.html">Post Format Gallery</a></li>
                                    </ul>
                                </div>
  
                                <div class="col-lg-12 col-xl-4 col-xxl-4 single-mega-item">
                                    <h3 class="rbt-short-title">Get Started</h3>
                                    <ul class="mega-menu-item">
                                        <li><a href="post-format-quote.html">Post Format Quote</a></li>
                                        <li><a href="post-format-audio.html">Post Format Audio</a></li>
                                        <li><a href="post-format-video.html">Post Format Video</a></li>
                                        <li><a href="#">Media Under Title <span class="rbt-badge-card">Coming</span></a></li>
                                        <li><a href="#">Sticky Sidebar <span class="rbt-badge-card">Coming</span></a></li>
                                        <li><a href="#">Auto Masonry <span class="rbt-badge-card">Coming</span></a></li>
                                        <li><a href="#">Meta Overlaid <span class="rbt-badge-card">Coming</span></a></li>
                                    </ul>
                                </div>
  
                                <div class="col-lg-12 col-xl-4 col-xxl-4 single-mega-item">
                                    <div class="rbt-ads-wrapper">
                                        <a class="d-block" href="#"><img src="assets/images/service/mobile-cat.jpg" alt="Education Images"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- End Mega Menu  -->
                </li>
            </ul>
        </nav>
  
        <div class="mobile-menu-bottom">
            <div class="rbt-btn-wrapper mb--20">
                <a class="rbt-btn btn-border-gradient radius-round btn-sm hover-transform-none w-100 justify-content-center text-center" href="/auth/login">
                    <span data-text="BIENVENIDO" *ngIf="user">BIENVENIDO</span>
                    <span data-text="REGISTRATE" *ngIf="!user">REGISTRATE</span>
                </a>
            </div>
  
            <div class="social-share-wrapper">
                <span class="rbt-short-title d-block">Find With Us</span>
                <ul class="social-icon social-default transparent-with-border justify-content-start mt--20">
                    <li><a href="https://www.facebook.com/">
                            <i class="feather-facebook"></i>
                        </a>
                    </li>
                    <li><a href="https://www.twitter.com">
                            <i class="feather-twitter"></i>
                        </a>
                    </li>
                    <li><a href="https://www.instagram.com/">
                            <i class="feather-instagram"></i>
                        </a>
                    </li>
                    <li><a href="https://www.linkdin.com/">
                            <i class="feather-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
  
    </div>
  </div>
  <!-- Start Side Vav -->
  <div class="rbt-cart-side-menu">
    <div class="inner-wrapper">
        <div class="inner-top">
            <div class="content">
                <div class="title">
                    <h4 class="title mb--0">Your shopping cart</h4>
                </div>
                <div class="rbt-btn-close" id="btn_sideNavClose">
                    <button class="minicart-close-button rbt-round-btn"><i class="feather-x"></i></button>
                </div>
            </div>
        </div>
        <nav class="side-nav w-100">
            <ul class="rbt-minicart-wrapper">

                <ng-container *ngFor="let CART of CARTS">
                    <li class="minicart-item">
                        <div class="thumbnail">
                            <a href="#">
                                <img [src]="CART.curso.imagen" alt="Product Images">
                            </a>
                        </div>
                        <div class="product-content">
                            <h6 class="title"><a [routerLink]="['landing-curso/',CART.curso.slug]">{{ CART.curso.title }}</a></h6>
      
                            <span class="quantity">1 * <span class="price">${{ CART.total }}</span></span>
                        </div>
                        <div class="close-btn">
                            <button class="rbt-round-btn" (click)="removeItem(CART)"><i class="feather-x"></i></button>
                        </div>
                    </li>
                </ng-container>
  
                
            </ul>
        </nav>
  
        <div class="rbt-minicart-footer">
            <hr class="mb--0">
            <div class="rbt-cart-subttotal">
                <p class="subtotal"><strong>Subtotal:</strong></p>
                <p class="price">${{ SUM_TOTAL }}</p>
            </div>
            <hr class="mb--0">
            <div class="rbt-minicart-bottom mt--20">
                <div class="view-cart-btn" *ngIf="user ">
                    <a class="rbt-btn btn-border icon-hover w-100 text-center" href="/carrito-de-compra">
                        <span class="btn-text">View Cart</span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                    </a>
                </div>
                <div class="view-cart-btn" *ngIf="!user ">
                    <a class="rbt-btn btn-border icon-hover w-100 text-center" href="/mensualidad">
                        <span class="btn-text">View Cart</span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                    </a>
                </div>
                <div class="checkout-btn mt--20">
                    <a class="rbt-btn btn-gradient icon-hover w-100 text-center" href="#">
                        <span class="btn-text">Checkout</span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
  
    </div>
  </div>
  <!-- End Side Vav -->
  <a class="close_side_menu" href="javascript:void(0);"></a>