
<div class="rbt-elements-area bg-color-white rbt-section-gap">
    <div class="container">
        <div class="row gy-5 row--30">
    <div class="col-lg-12">
    <div class="rbt-contact-form contact-form-style-1 max-width-auto">
      
        <form class="max-width-auto">
            <div class="form-group"> 
                  <input name="email" type="text" [(ngModel)]="email" />
                <label>email*</label>
                <span class="focus-border"></span>
            </div>
            

             
            
     

            <div class="form-submit-group">
                <button type="button" (click)="enviarmail()" class="rbt-btn btn-md btn-gradient hover-icon-reverse w-100">
                    <span class="icon-reverse-wrapper">
                        <span class="btn-text">enviar</span>
                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>

 
</div>
</div>
</div>

